.homeMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.btn{
  background: #6eeb82;
  width: 400px;
  height: 60px;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  border-radius: 10px;
}

.background{
  margin-top: 50px;
  display: flex;
}
.background input{
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}
.background input:focus{
  outline: none;
}
.background button{
  background: #6eeb82;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: #000;
  font-size: 24px;
  margin-left: 10px;
}